:root{
  --black: #211103;
  --brown: #3d1308;
  --dark-red: #7b0d1e;
  --light-red: #9f2042;
  --light: #f8e5ee;
  --bg: #fff8fb;
}

*{
  background-color:var(--bg);

}

.holder-card {
  border:none;
  background-color: transparent;
}
/* Nav bar - Nav/index.js*/
.nav{
  background-color: var(--brown);
}
.nav-title{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  float: left; 
}
.list-group{
  background-color: var(--brown);
  border-radius: 0 !important;
}
.nav-name{
  background-color: var(--brown);
  color: var(--light);
}
.list-group-item{
  background-color: var(--brown);
  color: var(--light);
}
.hvr:hover{
  background-color: var(--black);

}
.nav-link{
  color:var(--light);
  text-decoration: none;
}
.nav-link:hover{
  color:var(--light-red);
}

/* Projects.Carousel.js */
.carousel-sized{
  width: 600px;
  height: 400px;
}
.fit-image{
  width: 100%;
  object-fit: cover;
}

#car-title{
  color: var(--black);
  background: transparent;
}

/* Accordion - About/index.js*/
.accordion-button {
  background-color: var(--brown); 
  border: none;
  border-radius: 5px;
  color: var(--light);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  min-width: 25%;
  max-width: 25%;
}

.accordion-card {
  background-color: var(--bg);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  min-width: 50%;
  max-width: 50%;
}

.dropdown{
  background-color: var(--brown);
  color: var(--light);
}

/*Accordion from accordion.js 
.accordion{
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active, .accordion:hover{
  background-color: #ccc;
}
.acc-panel{
  padding: 0 19px;
  background-color: white;
  display: none;
  overflow: hidden;
}
*/

/* Contact - Contact/index.js*/
.contact-title{
  text-align: center;
  margin-top: 50px;
}
.form-style { 
  max-width:420px; 
  margin: 25px auto; 
}

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid var(--light-red);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus{ border:2px solid var(--dark-red); 
}
.contact-text {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.submit-btn{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:var(--light-red);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
.submit-btn:hover { background:var(--dark-red); }

/* Project Section*/
.project-body{
  display: grid;
  place-content: center;
  width: 100%;
  background-color: var(--bg);
}
.project-container{
  margin-top: 40px;
  width: 800px;
}
.project-image {
  float: left;
  width: 30%;
  height: 200px;
  background: var(--bg);
  object-fit: fill;
  transition: transform .2s;
}
.project-image:hover{
  transform: scale(1.75);
  animation: cornerTransitionIn 0.2s;
  border-radius: 20px;
}
.project-image:not(:hover){
  animation: cornerTransitionOut 0.2s;
}
.project-info {
  border-right: 6px solid var(--dark-red);
  float: left;
  padding: 20px;
  width: 70%;
  height: 200px;
  background-color: var(--light);
}
.project-text{
  background:none;
  font-family: sans-serif;
}

/*rounded corner transition in and out for hover zoom on images in project section*/
@keyframes cornerTransitionIn{
0%{
   border-radius: 0px;
}
20%{
  border-radius: 4px;
}
40%{
  border-radius: 8px;
}
60%{
  border-radius: 12px;
}
80%{
  border-radius: 16px;
}
100%{
  border-radius: 20px;
}
}
@keyframes cornerTransitionOut{
  0%{
    border-radius: 20px;
 }
 20%{
   border-radius: 16px;
 }
 40%{
   border-radius: 12px;
 }
 60%{
   border-radius: 8px;
 }
 80%{
   border-radius: 4px;
 }
 100%{
   border-radius: 0px;
 }
}